<h1>Courses List:</h1>
<div class="row">
  <div class="column">
    <table>
      <tr>
        <th>Course</th>
        <th>Description</th>
        <th>Price</th>
        <th></th>
      </tr>
      <tr>
        <td>Course 1</td>
        <td>Course 1 is a test course</td>
        <td>15€</td>
        <td>
          <button class="checkin-btn">Purchase</button>
        </td>
      </tr>
      <tr>
        <td>Course 2</td>
        <td>Course 2 is a test course</td>
        <td>15€</td>
        <td>
          <button class="checkin-btn">Purchase</button>
        </td>
      </tr>
      <tr>
        <td>Course 3</td>
        <td>Course 3 is a test course</td>
        <td>15€</td>
        <td>
          <button class="checkin-btn">Purchase</button>
        </td>
      </tr>

    </table>
  </div>
</div>
